.collection-preview {
    position: relative;
    width: 80%;
    height: auto;
    margin:5% 10%;
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .load-button-container{
      position: absolute;
      left: 43%;
      background: #1E1B1B;
      border-radius: 12px;
      padding: 10px 20px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 175%;
      /* identical to box height, or 31px */
      
      
      color: #FFFFFF;
    }
  }