.collection-item {
  position: relative;
    width: 28%;
    display: flex;
    height: 500px;
    margin:5% 2%;
    flex-direction: column;
    .view{
      // position:absolute;
      width:100%;
      // top:210px;
    }
    .title{
      // position: absolute;
      width: 100%;
      // top: 250px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
      /* or 150% */

      letter-spacing: -0.03em;

      /* Black */

      color: #1E1B1B;
    }
    .subtitle{
      // position: absolute;
      width: 100%;
      // margin-top: 30px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      /* or 175% */


      /* Black */

      color: #232536;
    }
  }